# MIS780 - Advanced Artificial Intelligence for Business

## Week 1 - Part 1: Python Programming Review

In this session, you will review your python programming skills using **Jupyter notebook**. 

- Install the [Anaconda](https://www.anaconda.com/distribution/), and run it locally.
- Launch Jupyter notebook and open lab content (.ipynb file extension).

In Jupyter notebook, you will be able to execute and modify your *Python* code efficiently.


## Table of Content


1. [Python Data Structures](#cell_Structures)
    - [Lists](#cell_Lists) 
    - [Tuples](#cell_Tuples)
    - [String](#cell_String)
    - [Sets](#cell_Sets)
    - [Dictionaries](#cell_Dictionaries)
    - [Python range()](#cell_range)
    

2. [Python Control Flow](#cell_ControlFlow)
    - [if...else Statement](#cell_ifelse) 
    - [while Loop](#cell_whileLoop) 
    - [for Loop](#cell_forLoop) 


3. [Python Function](#cell_start)
    - [Simple Function](#cell_simplefunction)
    - [Recursive function](#cell_recursivefunction)
    - [Lambda function](#cell_lambdafunction)
    - [Modules](#cell_Modules)


4. [Python File Input/Output](#cell_InputOutput)
    - [Write to a file](#cell_Write)
    - [Read a file](#cell_Read)


5. [Python Exception Handling](#cell_Exception)


6. [Python Object Oriented Programming](#cell_oop)
    - [Class and Objects](#cell_classobject)
    - [Creating Objects](#cell_object)
    - [Constructors](#cell_Constructors)
    - [Inheritance](#cell_Inheritance) 
    
    
7. [Exercise: Simple Calculator Program](#cell_Calculator)

<a id = "cell_Structures"></a>
### 1. Python Data Structures

Python offers a range of compound datatypes often referred to as sequences. You will learn about those built-in types in this section.

<a id = "cell_Lists"></a>
### Lists

A list is created by placing all the items (elements) inside a square bracket `[]` separated by commas. It can have any number of items and they may be of different types (integer, float, string etc.)

In [ ]:
# empty list
my_list = []

# list of integers
my_list = [1, 2, 3, 4, 5, 6]
print('my_list:', my_list)

In [ ]:
# empty list
my_list = []

# list of integers
my_list = [1, 2, 3, 4, 5, 6]
print('my_list:', my_list)

# list with mixed data types
my_list = [2, "Hi", 4.5]
print('my_list:', my_list)

Access elements of a list. You use the index operator `[]` to access an item in a list. Index starts from 0. So, a list having 10 elements will have index from 0 to 9.

In [ ]:
language = ["French", "German", "English", "Polish"]

# Accessing first element
print(language[0])

# Accessing fourth element
print(language[2])

<a id = "cell_Tuples"></a>
### Tuples

A tuple is created by placing all the items (elements) inside a round bracket `()` separated by commas. Tuple is similar to a list except you cannot change elements of a tuple once it is defined. Whereas in a list, items can be modified.

In [ ]:
language = ("French", "German", "English", "Polish")
print(language)

access elements of a tuple in a similar way like a list.

In [ ]:
language = ("French", "German", "English", "Polish")

print(language[1]) #Output: German
print(language[3]) #Output: Polish
print(language[-1]) # Output: Polish

You cannot delete elements of a tuple, however, you can entirely delete a tuple itself using del operator.

In [ ]:
language = ("French", "German", "English", "Polish")
del language

# NameError: name 'language' is not defined
print(language)

<a id = "cell_String"></a>
### String

A string is a sequence of characters. Here are different ways to create a string.

In [ ]:
# all of the following are equivalent
my_string = 'Hello'
print(my_string)

my_string = "Hello"
print(my_string)

my_string = '''Hello'''
print(my_string)

# triple quotes string can extend multiple lines
my_string = """Hello, welcome to
           the Advanced AI for Business"""
print(my_string)

You can access individual characters of a string using indexing (in a similar manner like lists and tuples).

In [ ]:
str = 'Advanced Artificial Intelligence for Business'
print('str = ', str)

print('str[0] = ', str[0]) # Output: A

print('str[-1] = ', str[-1]) # Output: s

#slicing 2nd to 5th character
print('str[1:5] = ', str[1:5]) # Output: dvan

#slicing 6th to 2nd last character
print('str[20:-2] = ', str[20:38]) # Output: Intelligence for Busine

Strings are immutable. You cannot change elements of a string once it is assigned. However, you can assign one string to another. Also, you can delete the string using del operator.

Concatenation is a common string operation. To concatenate strings, you use + operator. Similarly, the * operator can be used to repeat the string for a given number of times.

In [ ]:
str1 = 'Welcome to '
str2 ='MIS780 '

# Output: Welcome to MIS780
print(str1 + str2)

# MIS780 MIS780 MIS780
print(str2 * 3)

<a id = "cell_Sets"></a>
### Sets

A set is an unordered collection of items where every element is unique (no duplicates). A set is created by placing all the items (elements) inside a curly bracket `{}` separated by commas.

In [ ]:
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Welcome", (1, 2, 3)}
print(my_set)

Sets are mutable. You can add, remove and delete elements of a set. However, you cannot replace one item of a set with another as they are unordered and indexing have no meaning.

In [ ]:
# set of integers
my_set = {1, 2}

my_set.add(4)
print(my_set) # Output: {1, 2, 4}

my_set.add(2)
print(my_set) # Output: {1, 2, 4}

my_set.update([3, 4, 5])
print(my_set) # Output: {1, 2, 3, 4, 5}

my_set.remove(4)
print(my_set) # Output: {1, 2, 3, 5}

Some commonly used set operations:

In [ ]:
A = {1, 2, 3}
B = {2, 3, 4, 5}

# Equivalent to A.union(B) 
# Also equivalent to B.union(A)
print(A | B) # Output: {1, 2, 3, 4, 5}

In [ ]:


# Equivalent to A.intersection(B)
# Also equivalent to B.intersection(A)
print (A & B) # Output: {2, 3}

In [ ]:
# Set Difference
print (A - B) # Output: {1}

In [ ]:
# Set Symmetric Difference
print(A ^ B)  # Output: {1, 4, 5}

<a id = "cell_Dictionaries"></a>
### Dictionaries

Dictionary is an unordered collection of items. While other compound data types have only value as an element, a dictionary has a `key: value` pair. For example:

In [ ]:
# empty dictionary
my_dict = {}

# dictionary with integer keys
my_dict = {1: 'MIS772', 2: 'MIS780'}
print(my_dict[1])

In [ ]:
# dictionary with mixed keys
my_dict = {'unit': 'MIS780', 1: [2, 4, 3]}
print(my_dict['unit'])
print(my_dict[1])

person = {'name':'Jack', 'age': 26, 'salary': 4534.2}
print('Age of Jack is: ', person['age']) # Output: 26

Change, add or delete dictionary elements.

In [ ]:
subject = {'name':'MIS780', 'mark': 70}

# Changing mark to 80
subject['mark'] = 80 
print(subject) 

# Adding grade key, value pair
subject['grade'] = 'HD'
print(subject) 

# Deleting age
del subject['grade']
print(subject) 

# Deleting entire dictionary
del subject

<a id = "cell_range"></a>
### Python range()

`range()` returns an immutable sequence of numbers between the given start integer to the stop integer. The output is an iterable and you can convert it to list, tuple, set and so on

In [ ]:
numbers = range(1, 6)

print(list(numbers)) # Output: [1, 2, 3, 4, 5]
print(tuple(numbers)) # Output: (1, 2, 3, 4, 5)
print(set(numbers)) # Output: {1, 2, 3, 4, 5}

# Output: {1: 99, 2: 99, 3: 99, 4: 99, 5: 99} 
print(dict.fromkeys(numbers, 99))

<a id = "cell_ControlFlow"></a>
### 2. Python Control Flow
 
<a id = "cell_ifelse"></a>
### if...else Statement
 
The `if...else` statement is used if you want perform different action (run different code) on different condition.

A code block starts with indentation and ends with the first unindented line. The amount of indentation is up to you, but it must be consistent throughout that block.

In [ ]:
num = 3

if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")
# Output: Negative number

<a id = "cell_whileLoop"></a>
### while Loop

`while` loop is used to iterate over a block of code as long as the test expression (condition) is `true`.

In [ ]:
n = 50

# initialize sum and counter
sum = 0
i = 1

while i <= 50:
    sum = sum + i
    i = i+1    # update counter

print("The sum is", sum)

# Output: The sum is 1275

<a id = "cell_forLoop"></a>
### for Loop

`for` loop is used to iterate over a sequence (list, tuple, string) or other iterable objects. Iterating over a sequence is called traversal.

In [ ]:
numbers = [6, 5, 3, 8, 4, 2]

sum = 0

# iterate over the list
for val in numbers:
  sum = sum+val

print("The sum is", sum) # Output: The sum is 28

The `break` statement terminates the loop containing it.

In [ ]:
for val in "string":
    if val == "r":
        break
    print(val)
    
print("The end")

The `continue` statement is used to skip the rest of the code inside a loop for the current iteration only.

In [ ]:
for val in "string":
    if val == "r":
        continue
        
    print(val)

print("The end")

Suppose, you have a loop or a function that is not implemented yet, but want to implement it in the future. They cannot have an empty body. The interpreter would complain. So, you use the `pass` statement to construct a body that does nothing.

In [ ]:
sequence = {'p', 'a', 's', 's'}
for val in sequence:
    pass

<a id = "cell_function"></a>
### 3. Python Function

<a id = "cell_simplefunction"></a>
### Simple Function

A function is a group of related statements that perform a specific task. You use `def` keyword to create functions in Python.

You have to call the function to run the codes inside it.

In [ ]:
def print_lines():
  print("Welcome to MIS772.")
  print("Welcome to MIS780.")
    
# function call
print_lines()

A function can accept arguments.

In [ ]:
def add_numbers(a, b):
  sum = a + b
  print(sum)

You can also return value from a function using `return` statement.

In [ ]:
add_numbers(3543, 3545) # Output: 9

In [ ]:
def add_numbers(a, b):
  sum = a + b
  return sum

result = add_numbers(4, 5)
print(result) # Output: 9

<a id = "cell_recursivefunction"></a>
### Recursive function

A function that calls itself is known as recursive function and this process is called recursion.

Every recursive function must have a base condition that stops the recursion or else the function calls itself infinitely.

In [ ]:
# Recursive function to find the factorial of a number
def calc_factorial(x):
    if x == 1:
        return 1
    else:
        return (x * calc_factorial(x-1))

num = 4
print("The factorial of", num, "is", calc_factorial(num)) 
# Output: The factorial of 4 is 24

<a id = "cell_lambdafunction"></a>
### Lambda function

You can define functions without a name. These functions are called lambda or anonymous function. To create a lambda function, `lambda` keyword is used.

In [ ]:
square = lambda x: x ** 2

print(square(5)) # Output: 25

<a id = "cell_Modules"></a>
### Modules

Modules refer to a file containing Python statements and definitions.

A file containing Python code, for e.g.: `example.py`, is called a module and its module name would be `example`.

Copy the below code into a new python script file and save it as `example.py` in the same folder with this MIS780W01-Lab notebook. (You can use `NotePad` to enter the code and save as option `All File (*.*)` to save the file)

`def add(a, b):
    return a + b`
   
To use this module, we use `import` keyword.

In [ ]:
# importing example module
import example 

# accessing the function inside the module using . operator
example.add(2, 4.5)

Python has a many standard modules readily available for use.

In [ ]:
import math

result = math.log2(5) # return the base-2 logarithm
print(result) # Output: 2.321928094887362

You can also import specific names from a module without importing the module as a whole.

In [ ]:
from math import pi

print("The value of pi is", pi)
# Output: The value of pi is 3.141592653589793

<a id = "cell_InputOutput"></a>
### 4. Python File Input/Output

<a id = "cell_Write"></a>
### Write to a file

In order to write into a file in Python, we need to open it in write `w`, append `a` or exclusive creation `x` mode.

In [ ]:
with open("test.txt",'w',encoding = 'utf-8') as f:
   f.write("my first file\n")
   f.write("This file\n")
   f.write("contains three lines\n")
f.close()

<a id = "cell_Read"></a>
### Read a file

To read a file in Python, you must open the file in reading mode.

In [ ]:
f = open("test.txt",'r',encoding = 'utf-8')
for x in f:
  print('Each Line: ', x)

f.close()

We can use the read(size) method to read in size number of data.

In [ ]:
f = open("test.txt",'r',encoding = 'utf-8')
f.read(10)    # read the first 10 characters

<a id = "cell_Exception"></a>
### 5. Python Exception Handling

Errors that occur at runtime are called exceptions. They occur, for example, when a file we try to open does not exist `FileNotFoundError`, dividing a number by zero `ZeroDivisionError` etc. Exceptions can be handled using `try` statement.

In [ ]:
# import module sys to get the type of exception
import sys

randomList = ['a', 0, 2]

for entry in randomList:
    try:
        print("The entry is", entry)
        r = 1/int(entry)
        break
    except:
        print("Oops!",sys.exc_info()[0],"occurred.")
        print("Next entry.")
        print()
print("The reciprocal of",entry,"is",r)

<a id = "cell_oop"></a>
### 6. Python Object Oriented Programming

<a id = "cell_classobject"></a>
### Class and Objects

Object is simply a collection of data (variables) and methods (functions) that act on data. And, class is a blueprint for the object.

Define a class:

In [ ]:
class MyClass:
   """This is my class"""
   a_variable = 10
   def func(self):
      print('Hello')

As soon as you define a class, a new class object is created with the same name. This class object allows us to access the different attributes as well as to instantiate new objects of that class.

In [ ]:
print(MyClass.a_variable)

print(MyClass.func)

print(MyClass.__doc__)

<a id = "cell_object"></a>
### Creating Objects

You can also create objects of the class.

In [ ]:
obj1 = MyClass()
print(obj1.a_variable)        # Output: 10
 
obj2 = MyClass()
print(obj1.a_variable + 5)    # Output: 15

obj1.func()

<a id = "cell_Constructors"></a>
### Constructors

A method with name `__init()__` is a constructor. This method is automatically called when an object is instantiated.

In [ ]:
class ComplexNumber:
    def __init__(self,r = 0,i = 0):  # constructor
        self.real = r
        self.imag = i

    def getData(self):
        print("{0}+{1}j".format(self.real,self.imag))


c1 = ComplexNumber(2,3) # Create a new ComplexNumber object
c1.getData() # Output: 2+3j

c2 = ComplexNumber() # Create a new ComplexNumber object
c2.getData() # Output: 0+0j

<a id = "cell_Inheritance"></a>
### Inheritance

Inheritance refers to defining a new class with little or no modification to an existing class.

In [ ]:
class Mammal:
  def displayMammalFeatures(self):
    print('Mammal is a warm-blooded animal.')

Derive a new class `Dog` from this `Mammal` class.

In [ ]:
class Dog(Mammal):
  def displayDogFeatures(self):
    print('Dog has 4 legs.')

d = Dog()
d.displayDogFeatures()
d.displayMammalFeatures()

<a id = "cell_Calculator"></a>
### <font color="blue">7. Exercise: Simple Calculator Program</font> 

Write a program that ask user to select one of the four operations (*_Add, Subtract, Multiply, Divide_*). Once an operation is selected, the program should ask user to input two numbers, and then display the result of the selected operation.

Example ouput:

Select operation.

1.Add
2.Subtract
3.Multiply
4.Divide

Enter choice(1/2/3/4): 3

Enter first number: 4

Enter second number: 2

4.0 * 2.0 = 8.0

<details><summary><font color="blue"><b>Click here for solution:</b></font></summary>
# Program make a simple calculator
# This function adds two numbers 
def add(x, y):
   return x + y
# This function subtracts two numbers 
def subtract(x, y):
   return x - y
# This function multiplies two numbers
def multiply(x, y):
   return x * y
# This function divides two numbers
def divide(x, y):
   return x / y

print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

choice = input("Enter choice(1/2/3/4): ")
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

if choice == '1':
   print(num1,"+",num2,"=", add(num1,num2))
elif choice == '2':
   print(num1,"-",num2,"=", subtract(num1,num2))
elif choice == '3':
   print(num1,"*",num2,"=", multiply(num1,num2))
elif choice == '4':
   print(num1,"/",num2,"=", divide(num1,num2))
else:
   print("Invalid input")

In [ ]:
#Place your solution here
# Program make a simple calculator
# This function adds two numbers 
def add(x, y):
   return x + y
# This function subtracts two numbers 
def subtract(x, y):
   return x - y
# This function multiplies two numbers
def multiply(x, y):
   return x * y
# This function divides two numbers
def divide(x, y):
   return x / y

print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

choice = input("Enter choice(1/2/3/4): ")
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

if choice == '1':
   print(num1,"+",num2,"=", add(num1,num2))
elif choice == '2':
   print(num1,"-",num2,"=", subtract(num1,num2))
elif choice == '3':
   print(num1,"*",num2,"=", multiply(num1,num2))
elif choice == '4':
   print(num1,"/",num2,"=", divide(num1,num2))
else:
   print("Invalid input")

### References: 

- Python 3 Tutorial, programiz https://www.programiz.com/python-programming/tutorial
- Guido van Rossum and the Python development team (2018). Python Tutorial, Release 3.7.0, Python Software Foundation, https://bugs.python.org/file47781/Tutorial_EDIT.pdf